@charset "UTF-8";
/* CSS Document */
#TopRight{font-family:sans-serif; 
color: aquamarine;
font-size: 25px;
text-align: center;
}

#Left{
    font-family:'fonts';
} 
@font-face {
    font-family:"fonts";
    src: url("./fonts/CourierPrime-Regular.ttf");
    src: url("./fonts/CourierPrime-Bold.ttf");
    src: url("./fonts/CourierPrime-BoldItalic.ttf");
    src: url("./fonts/CourierPrime-Italic.ttf")
}

